In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from scipy.spatial import distance
from tqdm import notebook
import pickle
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('New_Flats.csv')
df

,Unnamed: 0,Количество комнат,Цена квартиры,Площадь,Район,Ссылка
0,0,1,2846000,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...
1,1,1,2946000,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...
2,2,1,3200000,30.80,Академический,https://www.an-nks.ru/search?view=filter-searc...
3,3,1,3350000,35.45,Академический,https://www.an-nks.ru/search?view=filter-searc...
4,4,1,3455000,34.95,Академический,https://www.an-nks.ru/search?view=filter-searc...
...,...,...,...,...,...,...
699,699,3,10000000,108.76,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
700,700,3,10300000,108.10,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
701,701,3,10500000,108.28,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
702,702,4,10600000,114.30,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
703,703,4,10800000,114.30,Ленинский,https://www.an-nks.ru/search?view=filter-searc...

In [3]:
df = df.drop('Unnamed: 0', axis=1)

In [4]:
def no_space(word):
    for i in range(len(word)):
        if word[i] == ' ':
            word = word[0:i:1] + '_' + word[i+1:len(word):1]
    return word

In [5]:
new_names = []
for name in df.columns:
    val = no_space(name.lower())
    new_names.append(val)
new_names

['количество_комнат', 'цена_квартиры', 'площадь', 'район', 'ссылка']

In [6]:
df.set_axis(new_names, axis=1, inplace=True)
df

,количество_комнат,цена_квартиры,площадь,район,ссылка
0,1,2846000,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...
1,1,2946000,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...
2,1,3200000,30.80,Академический,https://www.an-nks.ru/search?view=filter-searc...
3,1,3350000,35.45,Академический,https://www.an-nks.ru/search?view=filter-searc...
4,1,3455000,34.95,Академический,https://www.an-nks.ru/search?view=filter-searc...
...,...,...,...,...,...
699,3,10000000,108.76,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
700,3,10300000,108.10,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
701,3,10500000,108.28,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
702,4,10600000,114.30,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
703,4,10800000,114.30,Ленинский,https://www.an-nks.ru/search?view=filter-searc...

In [7]:
df['район'].value_counts()

Чкаловский         349
Октябрьский        100
Железнодорожный     98
Верх-Исетский       79
Ленинский           51
Академический       27
Name: район, dtype: int64

In [8]:
def category(value):
    if value < 6:
        res = 'дешевая'
    elif value < 8:
        res = 'средняя'
    else:
        res = 'премиальная'
    return res

In [9]:
df['цена_квартиры'] = round(df['цена_квартиры'] / 10**6, 2)
df

,количество_комнат,цена_квартиры,площадь,район,ссылка
0,1,2.85,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...
1,1,2.95,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...
2,1,3.20,30.80,Академический,https://www.an-nks.ru/search?view=filter-searc...
3,1,3.35,35.45,Академический,https://www.an-nks.ru/search?view=filter-searc...
4,1,3.46,34.95,Академический,https://www.an-nks.ru/search?view=filter-searc...
...,...,...,...,...,...
699,3,10.00,108.76,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
700,3,10.30,108.10,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
701,3,10.50,108.28,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
702,4,10.60,114.30,Ленинский,https://www.an-nks.ru/search?view=filter-searc...
703,4,10.80,114.30,Ленинский,https://www.an-nks.ru/search?view=filter-searc...

In [10]:
df['категория'] = df['цена_квартиры'].apply(category)

In [11]:
df.dtypes

количество_комнат     object
цена_квартиры        float64
площадь              float64
район                 object
ссылка                object
категория             object
dtype: object

In [12]:
df.loc[df['количество_комнат'] == 'Ст', 'количество_комнат'] = 0

In [13]:
df['количество_комнат'] = pd.to_numeric(df['количество_комнат'])
df.dtypes

количество_комнат      int64
цена_квартиры        float64
площадь              float64
район                 object
ссылка                object
категория             object
dtype: object

In [14]:
df.duplicated().sum()

137

In [15]:
df = df.drop_duplicates().reset_index(drop=True)
df.head(10)

,количество_комнат,цена_квартиры,площадь,район,ссылка,категория
0,1,2.85,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
1,1,2.95,27.10,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
2,1,3.20,30.80,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
3,1,3.35,35.45,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
4,1,3.46,34.95,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
5,1,3.68,37.25,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
6,1,3.79,40.85,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
7,1,3.82,41.15,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
8,1,3.91,42.00,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая
9,1,3.94,42.50,Академический,https://www.an-nks.ru/search?view=filter-searc...,дешевая

In [16]:
features = df.drop(['цена_квартиры', 'ссылка'], axis=1)
target = df['ссылка']

In [17]:
features = pd.get_dummies(features)

In [18]:
features_train, features_test, target_train, target_test = train_test_split(
    features, target, random_state=12345, test_size=0.2)

In [19]:
features_train = features_train.reset_index(drop=True)
features_test = features_test.reset_index(drop=True)
target_train = target_train.reset_index(drop=True)
target_test = target_test.reset_index(drop=True)

In [20]:
features_test

,количество_комнат,площадь,район_Академический,район_Верх-Исетский,район_Железнодорожный,район_Ленинский,район_Октябрьский,район_Чкаловский,категория_дешевая,категория_премиальная,категория_средняя
0,2,57.00,0,0,1,0,0,0,1,0,0
1,1,36.00,0,0,0,0,0,1,1,0,0
2,2,48.30,0,0,0,0,0,1,1,0,0
3,2,60.00,0,0,0,0,1,0,0,0,1
4,3,73.40,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
109,2,48.00,0,0,0,0,0,1,1,0,0
110,1,42.51,0,0,0,1,0,0,1,0,0
111,0,24.00,0,0,0,0,0,1,1,0,0
112,1,40.65,0,0,0,1,0,0,0,0,1
113,1,43.05,1,0,0,0,0,0,1,0,0

In [21]:
features_test

,количество_комнат,площадь,район_Академический,район_Верх-Исетский,район_Железнодорожный,район_Ленинский,район_Октябрьский,район_Чкаловский,категория_дешевая,категория_премиальная,категория_средняя
0,2,57.00,0,0,1,0,0,0,1,0,0
1,1,36.00,0,0,0,0,0,1,1,0,0
2,2,48.30,0,0,0,0,0,1,1,0,0
3,2,60.00,0,0,0,0,1,0,0,0,1
4,3,73.40,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
109,2,48.00,0,0,0,0,0,1,1,0,0
110,1,42.51,0,0,0,1,0,0,1,0,0
111,0,24.00,0,0,0,0,0,1,1,0,0
112,1,40.65,0,0,0,1,0,0,0,0,1
113,1,43.05,1,0,0,0,0,0,1,0,0

In [22]:
df['ссылка'].value_counts()

https://fortis-development.ru/flats?result_mode=0&complex_visual_mode=0&property_visual_mode=1&is_free=1&complex=4                                                                                                                231
https://www.pik.ru/search/ekb/kosmonavtov11                                                                                                                                                                                        93
https://www.pik.ru/search/ekb/ip                                                                                                                                                                                                   90
https://жктихомиров.рф/flat/search-parameters                                                                                                                                                                                      49
https://www.an-nks.ru/search?view=filter-search&type=0&prev_type=0&district=Юго-Западный&prev_district=Юго-Западный&prev_stock=&price%5Bfrom%5D=800000&price%5Bto%5D=120000000&ploshchad%5Bfrom%5D=13.5&ploshchad%5Bto%5D=1083     30
https://www.an-nks.ru/search?view=filter-search&type=0&prev_type=0&district=ВИЗ&prev_district=ВИЗ&prev_stock=&price%5Bfrom%5D=690000&price%5Bto%5D=16700000&ploshchad%5Bfrom%5D=14.5&ploshchad%5Bto%5D=143.6                       29
https://www.an-nks.ru/search?view=filter-search&type=0&prev_type=0&district=Академический&prev_district=Академический&prev_stock=&price%5Bfrom%5D=420000&price%5Bto%5D=5990000&ploshchad%5Bfrom%5D=16.8&ploshchad%5Bto%5D=77.4     24
https://catalog.vysotadom.ru/?roistat_visit=500854&page=2                                                                                                                                                                          14
https://surikov-dom.ru/#/macrocatalog/houses/1538926/plans?studio=null&category=flat&activity=sell&presMode=complex                                                                                                                 7
Name: ссылка, dtype: int64

In [23]:
table = features.loc[df['ссылка'] == 'https://жктихомиров.рф/flat/search-parameters']
table

,количество_комнат,площадь,район_Академический,район_Верх-Исетский,район_Железнодорожный,район_Ленинский,район_Октябрьский,район_Чкаловский,категория_дешевая,категория_премиальная,категория_средняя
257,1,42.86,0,1,0,0,0,0,1,0,0
258,1,43.19,0,1,0,0,0,0,1,0,0
259,1,40.75,0,1,0,0,0,0,1,0,0
260,1,42.83,0,1,0,0,0,0,1,0,0
261,1,43.94,0,1,0,0,0,0,1,0,0
262,1,42.83,0,1,0,0,0,0,1,0,0
263,1,42.86,0,1,0,0,0,0,1,0,0
264,1,41.64,0,1,0,0,0,0,1,0,0
265,1,40.75,0,1,0,0,0,0,1,0,0
266,1,43.19,0,1,0,0,0,0,1,0,0
267,1,40.42,0,1,0,0,0,0,1,0,0
268,1,41.64,0,1,0,0,0,0,1,0,0
269,1,42.02,0,1,0,0,0,0,1,0,0
270,1,46.22,0,1,0,0,0,0,0,0,1
271,1,41.35,0,1,0,0,0,0,0,0,1
272,1,41.83,0,1,0,0,0,0,0,0,1
273,1,43.22,0,1,0,0,0,0,0,0,1
274,1,50.45,0,1,0,0,0,0,0,0,1
275,1,51.20,0,1,0,0,0,0,0,0,1
276,1,50.45,0,1,0,0,0,0,0,0,1
277,1,51.20,0,1,0,0,0,0,0,0,1
278,2,53.70,0,1,0,0,0,0,0,0,1
279,2,54.49,0,1,0,0,0,0,0,0,1
280,2,53.77,0,1,0,0,0,0,0,0,1
281,2,58.93,0,1,0,0,0,0,0,0,1
282,2,54.56,0,1,0,0,0,0,0,0,1
283,2,53.58,0,1,0,0,0,0,0,0,1
284,2,54.37,0,1,0,0,0,0,0,0,1
285,2,58.93,0,1,0,0,0,0,0,0,1
286,2,57.54,0,1,0,0,0,0,0,0,1
287,2,62.14,0,1,0,0,0,0,0,1,0
288,2,57.54,0,1,0,0,0,0,0,1,0
289,2,62.14,0,1,0,0,0,0,0,1,0
290,2,63.13,0,1,0,0,0,0,0,1,0
291,2,62.14,0,1,0,0,0,0,0,1,0
292,2,63.13,0,1,0,0,0,0,0,1,0
293,2,66.05,0,1,0,0,0,0,0,1,0
294,2,62.93,0,1,0,0,0,0,0,1,0
295,2,66.05,0,1,0,0,0,0,0,1,0
296,2,66.05,0,1,0,0,0,0,0,1,0
297,2,62.93,0,1,0,0,0,0,0,1,0
298,2,62.63,0,1,0,0,0,0,0,1,0
299,3,80.26,0,1,0,0,0,0,0,1,0
300,3,80.26,0,1,0,0,0,0,0,1,0
301,3,79.15,0,1,0,0,0,0,0,1,0
302,3,79.15,0,1,0,0,0,0,0,1,0
303,3,78.65,0,1,0,0,0,0,0,1,0
304,3,97.22,0,1,0,0,0,0,0,1,0
305,3,97.22,0,1,0,0,0,0,0,1,0

In [24]:
sk_model = KNeighborsClassifier(n_neighbors=len(features_train))
sk_model.fit(features_train, target_train)

KNeighborsClassifier(n_neighbors=453)

In [25]:
pr = sk_model.kneighbors([features_test.loc[0]], return_distance=False)
pr

array([[266, 152,  81, 220, 271, 159, 245, 270,  10, 277, 196,  11, 434,
         40, 155,  91,  66, 406, 243, 377,  78, 153,  13,  38, 124, 450,
        380, 397, 114,  28, 234, 392, 316, 258,  65, 369, 347, 439,  62,
        103, 311, 348, 294,   2, 398, 261, 423,  19, 288, 230, 123, 250,
        429, 278, 332, 432, 102, 117, 202, 125, 308, 116, 180, 276, 358,
         71, 240, 252, 229, 430, 128, 193, 115, 371, 269,  33,  35, 232,
         89, 425,  16,  47, 166, 363, 100, 403, 399,   4,  30,  20,  14,
         39, 214, 331, 333, 151, 204, 310, 334, 387, 323, 382, 138, 346,
        121,  63, 181, 195,  31,  77, 302, 112, 344,  88, 211, 161, 368,
        298, 139, 443,  60,  85, 290, 106, 366, 390, 321, 388, 108, 444,
        136, 313, 218,  82, 408,  72,  94, 239, 431, 314, 176, 219, 356,
         70, 337, 199, 110, 215, 173, 183, 307, 182, 119,  83,  18, 237,
        197, 286, 330, 206, 178, 194, 216, 336, 343, 301, 287, 374, 223,
        376, 188, 133, 227, 322, 433, 400, 169, 409, 296, 414, 435, 393,
        407, 107, 396, 438, 255, 150,  41, 154, 160,  36, 415, 171, 146,
         48,  93, 163, 246, 247,  23, 411, 401, 452,  42, 221,  53, 222,
        257, 273, 389,   5, 144,  90, 324, 249,  44, 405, 135, 200,   9,
        428, 236,  58, 122, 354,   7, 132, 175, 338, 375, 345, 383, 402,
          0, 424, 225, 174, 352, 445, 416, 446,  95, 299,  99,  21, 201,
        127, 328, 213, 203, 170, 282, 410, 140, 327, 185, 427, 205, 134,
        231, 208,  51,  49, 370, 184, 441, 109, 350, 394, 378, 275, 305,
        293, 385, 217,  61,  98, 417, 317, 156, 228, 147,  68, 320, 265,
        353, 260, 362, 300,  57, 295, 280, 342, 104,  75, 210, 105, 149,
        289,  56, 319, 198, 168, 351, 264, 386, 422, 145, 418, 212,  43,
         34, 372, 263, 189, 340, 355,  52, 120, 142,  17, 272, 192, 419,
        187, 373, 137, 361, 384, 118, 172,  64,  29, 436, 141,  86, 126,
         12, 262,  24, 186, 335, 297, 148,   1,  96, 326, 285, 244, 235,
        274, 233, 303, 165,  67,  15, 207, 101, 315, 130, 254, 131, 306,
         76,   3,  45, 437,  87, 447, 364, 381, 448,  97, 357, 325,  59,
         32,  50, 365, 391, 395, 267,  80, 283, 426, 226, 190,  22, 379,
        241, 329,  27,  37, 268, 191, 167, 251, 113, 279,  84, 440,  46,
         25, 224, 256, 253, 157, 349, 360,  69, 259, 209,  55,  26,  73,
        367, 281, 413, 291,  54, 412,   6, 404, 318, 451, 309, 164, 339,
         92, 312, 284, 292, 248, 304, 442, 421, 420, 111, 449, 238,  79,
        129, 162, 242, 179, 158,   8, 177,  74, 341, 359, 143]],
      dtype=int64)

In [26]:
pr[0]

array([266, 152,  81, 220, 271, 159, 245, 270,  10, 277, 196,  11, 434,
        40, 155,  91,  66, 406, 243, 377,  78, 153,  13,  38, 124, 450,
       380, 397, 114,  28, 234, 392, 316, 258,  65, 369, 347, 439,  62,
       103, 311, 348, 294,   2, 398, 261, 423,  19, 288, 230, 123, 250,
       429, 278, 332, 432, 102, 117, 202, 125, 308, 116, 180, 276, 358,
        71, 240, 252, 229, 430, 128, 193, 115, 371, 269,  33,  35, 232,
        89, 425,  16,  47, 166, 363, 100, 403, 399,   4,  30,  20,  14,
        39, 214, 331, 333, 151, 204, 310, 334, 387, 323, 382, 138, 346,
       121,  63, 181, 195,  31,  77, 302, 112, 344,  88, 211, 161, 368,
       298, 139, 443,  60,  85, 290, 106, 366, 390, 321, 388, 108, 444,
       136, 313, 218,  82, 408,  72,  94, 239, 431, 314, 176, 219, 356,
        70, 337, 199, 110, 215, 173, 183, 307, 182, 119,  83,  18, 237,
       197, 286, 330, 206, 178, 194, 216, 336, 343, 301, 287, 374, 223,
       376, 188, 133, 227, 322, 433, 400, 169, 409, 296, 414, 435, 393,
       407, 107, 396, 438, 255, 150,  41, 154, 160,  36, 415, 171, 146,
        48,  93, 163, 246, 247,  23, 411, 401, 452,  42, 221,  53, 222,
       257, 273, 389,   5, 144,  90, 324, 249,  44, 405, 135, 200,   9,
       428, 236,  58, 122, 354,   7, 132, 175, 338, 375, 345, 383, 402,
         0, 424, 225, 174, 352, 445, 416, 446,  95, 299,  99,  21, 201,
       127, 328, 213, 203, 170, 282, 410, 140, 327, 185, 427, 205, 134,
       231, 208,  51,  49, 370, 184, 441, 109, 350, 394, 378, 275, 305,
       293, 385, 217,  61,  98, 417, 317, 156, 228, 147,  68, 320, 265,
       353, 260, 362, 300,  57, 295, 280, 342, 104,  75, 210, 105, 149,
       289,  56, 319, 198, 168, 351, 264, 386, 422, 145, 418, 212,  43,
        34, 372, 263, 189, 340, 355,  52, 120, 142,  17, 272, 192, 419,
       187, 373, 137, 361, 384, 118, 172,  64,  29, 436, 141,  86, 126,
        12, 262,  24, 186, 335, 297, 148,   1,  96, 326, 285, 244, 235,
       274, 233, 303, 165,  67,  15, 207, 101, 315, 130, 254, 131, 306,
        76,   3,  45, 437,  87, 447, 364, 381, 448,  97, 357, 325,  59,
        32,  50, 365, 391, 395, 267,  80, 283, 426, 226, 190,  22, 379,
       241, 329,  27,  37, 268, 191, 167, 251, 113, 279,  84, 440,  46,
        25, 224, 256, 253, 157, 349, 360,  69, 259, 209,  55,  26,  73,
       367, 281, 413, 291,  54, 412,   6, 404, 318, 451, 309, 164, 339,
        92, 312, 284, 292, 248, 304, 442, 421, 420, 111, 449, 238,  79,
       129, 162, 242, 179, 158,   8, 177,  74, 341, 359, 143], dtype=int64)

In [27]:
target_train[pr[0]].drop_duplicates().reset_index(drop=True).loc[0:2]

0          https://www.pik.ru/search/ekb/kosmonavtov11
1    https://www.an-nks.ru/search?view=filter-searc...
2                     https://www.pik.ru/search/ekb/ip
Name: ссылка, dtype: object

In [28]:
def make_neighbors_data(rooms, area, place, category):
    sh = [
        [3, 19, 'академический', 'дешевая'],
        [4, 20, 'верх-исетский', 'премиальная'],
        [6, 22, 'железнодорожный', 'средняя'],
        [7, 23, 'ленинский', 'дешевая'],
        [8, 24, 'октябрьский', 'премиальная'],
        [9, 25, 'чкаловский', 'средняя'],
        [rooms, area, place, category]
    ]
    col = ['количество_комнат', 'площадь', 'район', 'категория']
    data = pd.DataFrame(data=sh, columns=col)
    data = pd.get_dummies(data)
    return data.loc[6, :]

In [29]:
def near_neighbors(model, target_train,  rooms, area, place, category):
    for_model_data = make_neighbors_data(rooms, area, place, category)
    near = model.kneighbors([for_model_data], return_distance=False)[0]
    res = target_train[near].drop_duplicates().reset_index(drop=True)
    return res.loc[0:2]

In [30]:
near_neighbors(sk_model, target_train, 4, 27, 'чкаловский', 'дешевая')

0    https://www.an-nks.ru/search?view=filter-searc...
1    https://fortis-development.ru/flats?result_mod...
2    https://www.an-nks.ru/search?view=filter-searc...
Name: ссылка, dtype: object

In [31]:
a = [make_neighbors_data(4, 27, 'чкаловский', 'дешевая')]
a

[количество_комнат         4
 площадь                  27
 район_академический       0
 район_верх-исетский       0
 район_железнодорожный     0
 район_ленинский           0
 район_октябрьский         0
 район_чкаловский          1
 категория_дешевая         1
 категория_премиальная     0
 категория_средняя         0
 Name: 6, dtype: int64]

In [32]:
b = sk_model.kneighbors(a, return_distance=False)[0]
b

array([386, 264, 263, 145, 418, 189,  43, 212, 422, 372,  34, 142, 120,
       419,  17, 272,  52, 192, 187, 355, 340, 168, 351,  64, 280, 149,
       295,  86, 297, 126, 262, 335,  24, 186, 148,  12,  96, 244,   1,
       274, 326, 285, 235, 165, 303,  67, 315, 101, 130, 207,  15, 300,
        45, 437,  76, 254,   3,  87, 131, 306, 447, 325, 448,  32,  59,
        97, 365,  50, 381, 391, 357, 268, 241, 329, 190, 226, 379,  37,
        22, 426,  27, 364, 279,  46, 224, 113,  25, 167, 440, 191, 251,
        84, 283, 267,  80, 395, 260, 256, 253, 349, 157, 360, 259,  69,
       281, 413, 291,  73,  55, 367, 209,  26,  54, 339, 164, 451, 309,
       353,  92, 312, 265, 320, 156, 228, 317, 420, 111, 421, 417,  98,
       217, 385, 378, 275, 293, 305,  61, 162, 449, 238, 242, 179, 129,
        79, 109, 370,  51,  49, 205, 441, 208, 231, 134, 184, 427, 327,
       140, 410, 328, 445, 446, 170, 201, 203, 174, 416,  95,  99, 299,
       213, 282,  21, 352, 127, 424, 225, 375, 383, 402, 345,   0, 338,
       354,   7, 132, 175, 122,  58, 200, 249, 135,   9, 405,  44, 389,
       222, 144,   5, 273, 257,  90, 324, 452,  53, 221, 401,  42, 411,
        23, 246, 163, 146,  48, 415,  36, 160, 154, 150,  41, 255, 396,
       438, 296, 414, 407, 435, 393, 133, 188, 343, 336, 223, 376, 374,
       301, 287, 216, 206, 178, 194, 286, 330, 237,  18,  83, 182, 307,
       183, 173, 110, 337, 356,  70, 199, 219, 176, 314, 431,  72,  94,
       239, 408, 444, 108, 390, 366, 106, 290, 443, 302,  88,  77, 112,
       344, 211, 161,  31, 195, 310, 387, 204, 151, 333, 331, 334,  14,
        20,  39, 100, 363, 269, 232,  35, 115, 371, 193, 252, 128, 230,
       432, 102, 429, 250, 278, 123, 332, 261, 180,  19, 423, 125, 117,
       288, 316, 392,  28, 124, 243, 406,  13,  40,  11, 434, 196, 153,
        10, 277, 270, 245, 266, 159, 271, 220, 155,  78, 377,  91,  66,
       152,  81,  38, 450, 397, 114, 380, 234, 258,   2, 439, 103, 294,
        62, 348, 398, 311,  65, 369, 347, 202, 276, 308, 116,  71, 358,
       240, 229, 430,  33,  16, 425,  89,  47, 399, 403, 166,   4,  30,
       138,  63, 121, 346, 323, 382, 214, 181, 368, 298, 139,  60,  85,
       321, 388, 136, 218, 313,  82, 215, 119, 197, 400, 433, 322, 169,
       227, 409, 107, 171,  93, 247, 428, 236, 185, 394, 350,  68, 147,
       362,  57, 342, 104,  75, 210, 105, 319, 289,  56, 198, 172, 373,
       118, 384, 361, 137, 141,  29, 436, 233,   6, 318, 404, 412, 442,
       292, 248, 284, 304, 158,   8, 177,  74, 341, 359, 143], dtype=int64)

In [33]:
best_neighbors = KNeighborsClassifier(n_neighbors=len(features))
best_neighbors.fit(features, target)

KNeighborsClassifier(n_neighbors=567)

In [34]:
#with open('neighbors.pkl' , 'wb') as f:
    #pickle.dump(best_neighbors, f)

In [35]:
target.to_csv('url.csv', index=False)

In [36]:
a = pd.read_csv('url.csv')['ссылка']
a

In [38]:
target

0      https://www.an-nks.ru/search?view=filter-searc...
1      https://www.an-nks.ru/search?view=filter-searc...
2      https://www.an-nks.ru/search?view=filter-searc...
3      https://www.an-nks.ru/search?view=filter-searc...
4      https://www.an-nks.ru/search?view=filter-searc...
                             ...
562    https://www.an-nks.ru/search?view=filter-searc...
563    https://www.an-nks.ru/search?view=filter-searc...
564    https://www.an-nks.ru/search?view=filter-searc...
565    https://www.an-nks.ru/search?view=filter-searc...
566    https://www.an-nks.ru/search?view=filter-searc...
Name: ссылка, Length: 567, dtype: object